<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1><%= category %></h1>
  <p>
    <%  menu.forEach((item) => { %>
        <br><b>Dish:</b> <%= item.name %></br>
        <br>$<%= item.price %></br>
        <br>Rating: <%= item.rating %></br>
        <br><%= item.details %></br>

     <% }); %>
      
  </p>
</body>
</html>
